<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @channel.title %>
</p>

<p>
  <strong>Channel type:</strong>
  <%= @channel.channel_type %>
</p>

<p>
  <strong>Channel name:</strong>
  <%= @channel.channel_name %>
</p>

<p>
  <strong>Device:</strong>
  <%= @channel.device_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @channel.user_id %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>

<% if !@channel.cmdqueries.blank? %>
  <% for item in @channel.cmdqueries %>
    <%= item.value %> || <%= item.created_at %> || <%= item.send_flag %> ||
  <% end %>
<% end %>
