<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!-- <li class="active"><a href="<%= front_profile_path %>">个人中心 <span class="sr-only">(current)</span></a></li> -->
        <li><a href="<%= front_profile_path %>">个人中心 <span class="sr-only">(current)</span></a></li>
        <li class="active"><a href="<%= front_new_device_path %>">创建设备</a></li>
        <li><a href="<%= front_new_channel_path %>">创建通道</a></li>
        <li><a href="<%= front_show_chart_path %>">图形分析</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">创建设备</h1>

      <div class="row placeholders">
        <div class="col-sm-5">
          <%= render partial: 'front/common/device_form' %>
        </div>
      </div>
    </div>
  </div>
</div>
