<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'front/common/nav_left_bar' %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">注册信息</h1>

      <div class="row placeholders">
        <div class="col-sm-4">
          <table class="table table-striped">
            <tbody>
              <tr>
                <!-- 10位随机字符数字字母组合 -->
                <td>Device KEY:</td>
                <td><%= current_user.get_device_key %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="sub-header">设备管理</h2>
      <%= link_to "创建新设备", front_new_device_path, class: "btn btn-primary" %>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>设备ID</th>
              <th>设备名</th>
              <th>描述</th>
              <th>创建日期</th>
              <th style="text-align: center;">操作</th>
            </tr>
          </thead>
          <tbody>
            <% @devices.each do |device| %>
              <tr>
                <td><%= link_to device.device_id, front_show_device_path(device), title: '查看详情' %></td>
                <td><%= device.device_name %></td>
                <td><%= device.device_description %></td>
                <td>Date</td>
                <td style="width:150px">
                  <%= link_to '查看', front_show_device_path(device), class: 'btn btn-primary', style: "padding: 3px 6px;" %>
                  <%= link_to '修改', front_edit_device_path(device), class: 'btn btn-warning', style: "padding: 3px 6px;" %>                  
                  <%= link_to '删除', device, method: :delete, data: { confirm: '删除后数据不可恢复! 确认删除?' }, class: 'btn btn-danger', style: "padding: 3px 6px;" %>
                </td>
              </tr> 
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
