<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!-- <li class="active"><a href="<%= front_profile_path %>">个人中心 <span class="sr-only">(current)</span></a></li> -->
        <li class="active"><a href="<%= front_profile_path %>">个人中心 <span class="sr-only">(current)</span></a></li>
        <li><a href="<%= front_new_device_path %>">创建设备</a></li>
        <li><a href="<%= front_new_channel_path %>">创建通道</a></li>
        <li><a href="<%= front_show_chart_path %>">图形分析</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">注册信息</h1>

      <div class="row placeholders">
        <div class="col-sm-4">
          <table class="table table-striped">
            <tbody>
              <tr>
                <!-- 10位随机字符数字字母组合 -->
                <td>Device KEY:</td>
                <td>123456789</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <h2 class="sub-header">设备列表</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>设备ID</th>
              <th>设备名</th>
              <th>描述</th>
              <th>创建日期</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @devices.each do |device| %>
              <tr>
                <td><%= device.device_id %></td>
                <td><%= device.device_name %></td>
                <td><%= device.device_description %></td>
                <td>Date</td>
                <td>修改-删除</td>
              </tr>  
            <% end %>
          </tbody>
        </table>
      </div>
      <h2 class="sub-header">设备通道列表</h2>
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>通道ID</th>
              <th>通道设备名</th>
              <th>通道名称</th>
              <th>通道数据</th>
              <th>创建日期</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @channels.each do |channel| %>
              <tr>
                <td><%= channel.channel_id %></td>
                <td><%= Device.where(:id => channel.device_id).first.device_name %></td>
                <td><%= channel.channel_name %></td>
                <td><%= channel.data_points %></td>
                <td>修改-删除</td>
              </tr>  
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
