<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'front/common/nav_left_device_summary' %>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        <%= link_to "通道设置", dmodel_device_dchannel_set_path(@device), class: "btn btn-primary" %>
        <h2>启用通道信息</h2>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>通道ID</th>
              <th>通道名</th>
              <th>通道类型</th>
              <th>方向</th>
              <th>创建日期</th>
              <th>换算</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @channels.each do |channel| %>
              <tr>
                <td><%= link_to channel.channel_id, front_device_channel_chart_path(@device, channel), title: '查看详情' %></td>                
                <td><%= channel.channel_name %></td>     
                <td>
                  <% title = '无' %>
                  <% case channel.channel_type %>
                    <% when '0'; title = '模拟' %>
                    <% when '1'; title = '数字' %>
                    <% when '3'; title = '串口' %>                    
                  <% end %>
                  <%= title %>
                  <%#= channel.channel_name %>
                </td>
                <!-- <td><%#= channel.channel_type %></td>            -->
                <td><%= channel.channel_direct == '0' ? '输入' : '输出' %></td>
                <td>
                  <% if channel.created_at %>
                    <%= channel.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %>
                  <% else %>
                    <%= '2015-01-10 00:00:00' %>
                  <% end %>
                </td>
                <td>
                  换算符 (+3)
                </td>
                <td style="width:200px">
                  <%= link_to '查询', front_cmdquery_get_path(@device, channel), method: :post, class: 'btn btn-info', id: 'btn-get', style: "padding: 3px 6px;" %>
                  <% if channel.channel_direct == '1' %>
                    <%= link_to '设置', new_cpanel_cmdquery_path(@device, channel), class: 'btn btn-info', style: "padding: 3px 6px;"  %>
                  <% end %>
                  <%= link_to '修改', front_device_edit_channel_path(@device, channel), class: 'btn btn-warning', style: "padding: 3px 6px;" %>                  
                  <%= link_to '删除', channel, method: :delete, data: { confirm: '确定删除?' }, class: 'btn btn-danger', style: "padding: 3px 6px;" %>
                </td>
              </tr> 
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
