<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <%#= render partial: 'front/common/nav_left_chart_bar' %>
    <%= render partial: 'front/common/nav_left_device_summary_simple' %>

    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">历史数据</h1>

      <div class="row main">
          <span>切换通道</span>
          &nbsp;&nbsp;
          <select name="channel_urls" class="channel_urls form-control" style="width:200px; display:inline">
            <% if @channels %>
              <% @channels.each do |channel| %>
                <%#= link_to channel.channel_name, front_device_channel_chart_path(@device, channel) %>
                <% if channel.channel.id == @channel.id %>
                  <!-- <option value="<%#= front_device_channel_chart_path(@device, channel.channel.id) %>" selected> -->
                  <option value="<%= channel.channel.id %>" selected>
                <% else %>
                  <option value="<%= channel.channel.id %>">
                <% end %>
                  <%= channel.name %>
                </option>
              <% end %>
            <% end %>
          </select>
          &nbsp;&nbsp;
          <a href="" class="channel_chart">查看实时数据</a>
          ||
          <a href="" class="channel_fullchart">查看全部数据</a>
      </div>
      <hr>
      <div class="row placeholders">
        <div class="col-sm-5">
          <%= render partial: 'front/common/chart_full' %>
        </div>
      </div>
      <hr>
    </div>
  </div>
  <script type="text/javascript">
    $(document).ready( function() {   
      $('a.channel_chart').click(function() {
        event.preventDefault();
        var channel_id = $("select.channel_urls").val();
        var url = "/user/device/<%= @device.id %>/channel/" + channel_id + "/chart";
        $(window.location).attr('href', url);
      });      
      $('a.channel_fullchart').click(function() {
        event.preventDefault();
        var channel_id = $("select.channel_urls").val();
        var url = "/user/device/<%= @device.id %>/channel/" + channel_id + "/fullchart";
        $(window.location).attr('href', url);
      }); 
    })
  </script>
</div>
