<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'front/common/nav_left_chart_bar' %>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h1 class="page-header">查看通道</h1>
      <% if @channels %>
        <% @channels.each do |channel| %>
          <%= link_to channel.channel_name, front_device_channel_chart_path(@device, channel) %>
        <% end %>
      <% end %>

      <div class="row placeholders">
        <div class="col-sm-5">
          <% if @channel.channel_type != '2' %>
            <%= render partial: 'front/common/chart02' %>
          <% else %>
            <%= render partial: 'front/common/text' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
