<%= render partial: 'front/common/nav_bar' %>

<div class="container-fluid">
  <div class="row">
    <%= render partial: 'front/common/nav_left_bar' %>
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <h2 class="sub-header">设备详情</h2>
      <p>
        <%= link_to "创建新设备", front_new_device_path, class: "btn btn-primary btn-sm" %>
        <%= link_to "编辑此设备", front_edit_device_path(@device), class: "btn btn-warning btn-sm" %>
        <%= link_to "删除此设备", @device, method: :delete, data: { confirm: '删除后数据不可恢复! 确认删除?' }, class: "btn btn-danger btn-sm" %>
      </p>
      <div class="row placeholders">
        <div class="col-sm-6">
            <table class="table table-striped">
              <tbody>
                <tr>
                  <!-- 10位随机字符数字字母组合 -->
                  <td>设备ID:</td>
                  <td><%= @device.device_id %></td>
                </tr>
                <tr>
                  <td>设备名</td>
                  <td><%= @device.device_name %></td>
                </tr>
                <tr>
                  <td>描述</td>
                  <td><%= @device.device_description %></td>
                </tr>
                <tr>
                  <td>创建日期</td>
                  <td>Date</td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <%= link_to "创建新通道", front_device_new_channel_path(@device), class: "btn btn-primary" %>
        <%= link_to "查看通道图形", front_device_chart_path(@device), class: "btn btn-info" %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>通道ID</th>
              <th>通道名</th>
              <th>通道类型</th>
              <th>方向</th>
              <th>创建日期</th>
              <th>操作</th>
            </tr>
          </thead>
          <tbody>
            <% @channels.each do |channel| %>
              <tr>
                <td><%= link_to channel.channel_id, front_device_channel_chart_path(@device, channel), title: '查看详情' %></td>                
                <td><%= channel.channel_name %></td>     
                <td><%= channel.channel_type %></td>           
                <td><%= channel.channel_direct %></td>
                <td>Date</td>
                <td style="width:150px">
                  <%= link_to '设置', new_cpanel_cmdquery_path(@device, channel), class: 'btn btn-info', style: "padding: 3px 6px;"  %>
                  <%= link_to '修改', front_device_edit_channel_path(@device, channel), class: 'btn btn-warning', style: "padding: 3px 6px;" %>                  
                  <%= link_to '删除', channel, method: :delete, data: { confirm: '确定删除?' }, class: 'btn btn-danger', style: "padding: 3px 6px;" %>
                </td>
              </tr> 
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
