<%= simple_form_for(:data, :url => devices_path) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :device_id %>
    <%= f.input :device_name %>
    <%= f.input :device_description %>
    <%= f.input :device_model_id %>
    <%= f.input :device_model_key %>
    <%= f.input :device_model_name %>
    <%= f.input :device_model_description %>
    <%= f.input :device_location_local %>
    <%= f.input :device_location_latitude %>
    <%= f.input :device_location_longitude %>
    <%= f.input :device_uid %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
