<%= simple_form_for(@device, html: { class: "form-horizontal" }, wrapper: :horizontal_form) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :dmodel, label: "物联网模块", collection: Dmodel.all, prompt: "请选择..." %>
    <%= f.input :device_id, label: "设备ID" %>
    <%= f.input :device_name, label: "设备名称" %>
    <%= f.input :device_description, label: "设备描述" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
    <% if @device.device_id %>
      <%= link_to '取消', front_show_device_path(@device), class: 'btn btn-default' %>
    <% else %>
      <%= link_to '取消', front_profile_path, class: 'btn btn-default' %>
    <% end %>
  </div>
<% end %>
