<div class="col-sm-3 col-md-2 sidebar">
  <%= render partial: 'front/common/nav_bar_links' %>
  <h2 class="sub-header">设备详情</h2>
  <span class="hide" id="device"><%= @device.id %></span>
  <table class="table table-striped">
    <tbody>
      <tr>
        <!-- 10位随机字符数字字母组合 -->
        <td>设备ID:</td>
      </tr>
      <tr>
        <!-- 10位随机字符数字字母组合 -->
        <td>
          <%= render 'front/common/nav_left_device_status' %>
        </td>
      </tr>
      <tr>
        <td>设备名称:</td>
      </tr>
      <tr>
        <td><%= @device.device_name %></td>
      </tr>
      <tr>
        <td>设备描述:</td>
      </tr>
      <tr>              
        <td><%= @device.device_description %></td>
      </tr>
      <tr>
        <td>设备物联网模块:</td>
      </tr>
      <tr>
        <td><%= @device.dmodel.name %></td>
      </tr>
      <tr>
        <td>版本号:</td>
      </tr>
      <tr>
        <td>
          <% if @device.deviceinfo and @device.deviceinfo.version %>
            <%= @device.deviceinfo.version %></td>
          <% else %>
            <%= '###' %>
          <% end -%>
        </td>
      </tr>
      <tr>
        <td>序列号:</td>
      </tr>
      <tr>
        <td>
          <% if @device.deviceinfo and @device.deviceinfo.version %>
            <%= @device.deviceinfo.sn %></td>
          <% else %>
            <%= '###' %>
          <% end -%>
        </td>
      </tr>
      <tr>
        <td>创建日期:</td>
      </tr>
      <tr>
        <td><%= @device.created_at.strftime('%Y-%m-%d %H:%M:%S').to_s %></td>
      </tr>
      <tr>
    </tbody>
  </table>
</div>